body {
  background-color: lightblue;
}

h1 {
  color: navy;
  margin-left: 80px;
}

.flex-container {
  display: -webkit-box;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;

  list-style: none;
}

.flex-item {
  background: tomato;
  padding: 5px;
  width: 200px;
  height: 150px;
  margin-top: 10px;

  line-height: 150px;
  color: white;
  font-weight: normal;
  font-size: 3em;
  text-align: center;
  text-shadow:
}
